.red-banner {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  background-color: #F6F6F6;
  h2 {
    color: #4A4A4A;
    margin-bottom: 0px;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 38px;
  }
}

.key-word {
  background: green;
  border-radius: 5px;
}

.ansatz {
  height: 60vh;
  display: flex;
  .ansatz-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .inner {
      height: 70%;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-weight: bold;
        color: #4A4A4A;
      }
      p {
        font-size: 18px;
        color: #4A4A4A;
      }
    }
  }
  .ansatz-img {
    height: 100%;
    width: 100%;
    background-image: asset-url('phone.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    p {
      visibility: hidden;
    }
  }
  .ziel-img {
    height: 100%;
    width: 100%;
    background-color: #ADE8FF;
    background-image: asset-url('laptop-baby-blue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    p {
      visibility: hidden;
    }
  }
}

.ziel {
  background-color: #EBEBEB;
}

.ziel-txt {
  background-color: #F6F6F6;
}

.steps-header {
  font-weight: bold;
  margin: 50px;
  text-align: center;
  color: #4A4A4A;
}

.steps-header-text {
  font-weight: bold;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  color: #4A4A4A;
}

.steps-header-text-paragraph {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 50px;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 40px;
  }
  i {
    background: #4A4A4A;
    font-size: 50px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    color: #4ACBFF;
    margin-bottom: 15px;
  }
  p {
    text-align: center;
    color: #4A4A4A;
  }
}

.angebot {
  height: 700px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  div {
    padding: 0px 25px;
    transition: background-color 0.6s;
  }
  div:hover {
    background-color: #F6F6F6;
  }
  h4 {
    margin: 20px 0px;
    text-align: center;
    color: #4A4A4A;
  }
  h1 {
    margin: 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #4A4A4A;
  }
  ul > li {
    margin-top: 10px;
    list-style: "✅   ";
    list-style-position: outside;
  }
  li {
    line-height: 2.3;
  }
  .angebot-box {
    //border: solid 1px red;
    position: relative;
    height: inherit;
    margin: 0px 45px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
  }
}

.box-btn-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.btn-box {
  position: absolute;
  bottom: 40px;
}

.idea-div-intro {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  hr {
    display: block;
    height: 15px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 70%;
  }
  p {
    margin-right: 10px;
    color: #FD1015;
  }
}

