<footer>
  <div class="footer">
    <div style="height: 100%" class="container">
      <div class="footer-content">
        <div class="footer-logo footer-part">
          <h1>CHOY</h1>
        </div>
        <div class="footer-part">
          <h5>Ressourcen</h5>
          <ul>
            <li>FAQ</li>
            <li>Unser Ansatz</li>
            <li>Unser Ziel</li>
            <li>Unser Angebot</li>
          </ul>
        </div>
        <div class="footer-part">
          <h5>Contact us</h5>
          <ul>
            <li>+49 111111111</li>
            <li>hello@choy.com</li>
          </ul>
        </div>
        <div class="footer-part">
          <h5>Follow us</h5>
          <div class="social-media-flex">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
