<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <h1>CHOY</h1>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#ansatz-anchor">Unser Ansatz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ziel-anchor">Unser Ziel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#angebot-anchor">Unser Angebot</a>
      </li>
    </ul>
  </div>
</div>
