<div class="banner">
  <div class="banner-text">
    <h1>Bringen Sie Ihre Schulwebsite auf den neusten Stand</h1>
    <p>Moderne Website im Handumdrehen.</p>
    <a href="#ansatz-anchor" class="button">Erfahren Sie mehr</a>
  </div>
  <div class="banner-img">
    <p>test</p>
  </div>
</div>

<div class="red-banner">
  <h2>Wir <span id="banner-typed-text" style="color: #FD1015"></span>Websiten für Schulen in Deutschland</h2>
</div>

<div id="ansatz-anchor"></div>
<div class="ansatz">
  <div class="ansatz-text">
    <div class="inner">
      <h1>Unser Ansatz</h1>
      <p>Der oftmals erste Kontakt zwischen Schülern, Eltern und Schule findet heutzutage im Internet statt. Warum dann nicht diese einzigartige Möglichkeit nutzen, um sich professionell und zukunftsorientiert darzustellen? Mit standardisierten sowie personalisierten Paketen unterstützen wir Schulen sich bestmöglich im Internet zu differenzieren und zu vermarkten.</p>
    </div>
  </div>
  <div class="ansatz-img" data-aos="fade-left">
    <p>test</p>
  </div>
</div>

<div id="ziel-anchor"></div>
<div class="ansatz" style="background-color: #F6F6F6;">
  <div class="ziel-img" data-aos="fade-right">
    <p>test</p>
  </div>
  <div class="ansatz-text ziel-txt">
    <div class="inner">
      <h1>Unser Ziel</h1>
      <p>Mit der Kommunikationsstrategie von Britischen Schulen als Vorbild, wollen wir Ihre Website modernisieren, um Ihr wahres Potential zu fördern. Wir wollen die zukunftsorientiert Bildung in Deutschland fördern, indem wir Schulen eine moderne Website Lösung bieten. So können Schulen ihr digitales Image im Internet stärken.</p>
    </div>
  </div>
</div>


<div>
  <h1 class="steps-header-text">Eine moderne Website in wenigen Schritten</h1>
  <p class="steps-header-text-paragraph">Standardisiert oder doch personalisiert? Wählen Sie entweder unser standardisiertes Paket oder setzten Sie sich doch einfach mit uns zusammen, um die Möglichkeiten einer Personalisierten Website zu erforschen.</p>
</div>

<div class="idea-div-intro">
  <p class="text">Standardisiertes Paket</p>
  <hr/>
</div>

<div class="timeline">
  <ul>
    <li>
      <div class="content" data-aos="fade-right">
        <h3>Logo, Farbkonzepte und Text <span class="badge badge-secondary"><i class="fas fa-align-justify"></i></span></h3>
        <p>Schicken Sie uns einfach Ihr Logo, Farbkonzepte und Text. Lehnen Sie sich zurück und wir gestalten Ihnen Ihre moderne Website zur Informationsdarstellung.</p>
      </div>
    </li>
    <li>
      <div class="content" data-aos="fade-left">
        <h3>Unsere Ideen <span class="badge badge-secondary"><i class="fas fa-lightbulb"></i></span></h3>
        <p>Nach kurzer Einarbeitung schicken wir Ihnen unsere Ideen. Geben Sie uns Feedback und wir nehmen gerne kleinere Änderungen vor.</p>
      </div>
    </li>
    <li>
      <div class="content" data-aos="fade-right">
        <h3>Vernetzen der IT-Systeme <span class="badge badge-secondary"><i class="fas fa-link"></i></span></h3>
        <p>Zufrieden? Super das war's schon. Wir vernetzen Ihre vorhandenen IT Systeme mit der neuen Website und Sie können gemütlich auf die Kundenkomplimente warten.</p>
      </div>
    </li>
    <div style="clear: both;"></div>
  </ul>
</div>

<div style="background-color: #F6F6F6; padding-top: 20px;">

<div class="idea-div-intro">
  <p class="text">Personalisiertes Paket</p>
  <hr/>
</div>

<div class="timeline timelineTwo">
  <ul>
    <li>
      <div class="content" data-aos="fade-right">
        <h3>Ihre Anliegen ergänzt mit unserer Expertise <span class="badge badge-secondary"><i class="fas fa-users"></i></span></h3>
        <p>Kontaktieren Sie uns bequem und wir setzten einen virtuellen oder persönlichen Termin an. Dort besprechen wir Ihre anliegen und ergänzen Sie mit unserer Expertise.</p>
      </div>
    </li>
    <li>
      <div class="content" data-aos="fade-left">
        <h3>Lassen Sie sich inspirieren <span class="badge badge-secondary"><i class="fas fa-hand-pointer"></i></span></h3>
        <p>Wählen Sie von mehreren Designvorschlägen aus oder lassen Sie uns auch gerne etwas ganz neues ausprobieren. Fügen Sie zusätzliche Back-End Komponenten, wie beispielsweise News, Stundenpläne oder ein Alumni-Netzwerk, hinzu.</p>
      </div>
    </li>
    <li>
      <div class="content" data-aos="fade-right">
        <h3>Unsere Ideen <span class="badge badge-secondary"><i class="fas fa-lightbulb"></i></span></h3>
        <p>Nach kurzer Einarbeitung schicken wir Ihnen unsere Ideen. Geben Sie uns Feedback und wir nehmen gerne Änderungen vor.</p>
      </div>
    </li>
    <li>
      <div class="content" data-aos="fade-right">
        <h3>Vernetzen der IT-Systeme <span class="badge badge-secondary"><i class="fas fa-link"></i></span></h3>
        <p>Zufrieden? Super das war's schon. Wir vernetzen Ihre vorhandenen IT Systeme mit der neuen Website und Sie können gemütlich auf die Kundenkomplimente warten.</p>
      </div>
    </li>
    <div style="clear: both;"></div>
  </ul>
</div>

</div>


<div id="angebot-anchor"></div>
<h1 class="steps-header">Unsere Angebote</h1>
<div class="angebot">
  <div class="angebot-box" data-aos="fade-up">
    <h4>Standard</h4>
    <h1>€1000</h1>
    <ul>
      <li>Professionelle Beratung</li>
      <li>Produkt Design Sprint</li>
      <li>Standardisiertes Front-End (Stellen Sie Ihre Website nach dem Baukastenprinzip mit vorgefertigten Komponenten zusammen)</li>
      <li>Personalisierte Font</li>
      <li>Personalisiertes Farbschema</li>
      <li>Personalisierter Text</li>
      <li>Professionelle Bilder</li>
      <li>Wartung</li>
    </ul>
    <div class="box-btn-div">
      <a href="#ansatz-anchor" class="button btn-box">Kaufen</a>
    </div>
  </div>
  <div class="angebot-box" data-aos="fade-up">
    <h4>Personalisiert</h4>
    <h1>€2000</h1>
    <ul>
      <li>Professionelle Beratung</li>
      <li>Produkt Design Sprint</li>
      <li>Personalisiertes Front-End (Gestalten Sie Ihre personalisierte Website mit unserer Hilfe)</li>
      <li>Personalisierte Font</li>
      <li>Personalisiertes Farbschema</li>
      <li>Personalisierter Text</li>
      <li>Professionelle Bilder</li>
      <li>Fügen Sie Back-End Komponenten hinzu</li>
      <li>Wartung</li>
    </ul>
    <div class="box-btn-div">
      <a href="#ansatz-anchor" class="button btn-box">Kaufen</a>
    </div>
  </div>
</div>


