<div class="banner">
  <div class="banner-text">
    <h1>Bringen Sie Ihre Schulwebsite auf den neusten Stand</h1>
    <p>Zukunftsorientiert. Schnell. Einfach.</p>
    <a href="#ansatz-anchor" class="button">Erfahren Sie mehr</a>
  </div>
  <div class="banner-img">
    <p>test</p>
  </div>
</div>

<div class="red-banner">
  <h2>Wir <span id="banner-typed-text" style="color: #FD1015"></span>Websiten für Schulen in Deutschland</h2>
</div>

<div id="ansatz-anchor"></div>
<div class="ansatz">
  <div class="ansatz-text">
    <div class="inner">
      <h1>Unser Ansatz</h1>
      <p>Der erste Eindruck von einem Produkt findet heutzutage online stadt. Die modern gestaltenen Websiten der Schulen in Großbritannien vermitteln einen zukunftsorientierte Bildung. Wieso schaffen wir dies nicht in Deutschland?</p>
    </div>
  </div>
  <div class="ansatz-img" data-aos="fade-left">
    <p>test</p>
  </div>
</div>

<div id="ziel-anchor"></div>
<div class="ansatz" style="background-color: #F6F6F6;">
  <div class="ziel-img" data-aos="fade-right">
    <p>test</p>
  </div>
  <div class="ansatz-text ziel-txt">
    <div class="inner">
      <h1>Unser Ziel</h1>
      <p>Mit Ihnen wollen wir die Websiten der Schulen in Deutschland modernisieren und somit sowohl attraktiver gestalten als auch die zukunftsorientierte Bildung in Deutschland fördern. </p>
    </div>
  </div>
</div>

<h1 class="steps-header">Eine moderne Website in wenigen Schritten</h1>
<div class="steps">
  <div>
    <i class="fas fa-hand-pointer"></i>
    <p>Wählen Sie eine der drei verfügbaren CHOY Lösungen.</p>
  </div>
  <div>
    <i class="far fa-envelope"></i>
    <p>Wir kontaktieren Sie und vereinbaren ein Treffen.</p>
  </div>
  <div>
    <i class="fas fa-hands-helping"></i>
    <p>Gestalten Sie einen interaktiven Prototypen mit unserer Hilfe.</p>
  </div>
  <div>
    <i class="fas fa-code"></i>
    <p>Wir programmieren Ihre Website nach Ihren Wünschen.</p>
  </div>
</div>

<div id="angebot-anchor"></div>
<h1 class="steps-header">Unser Angebot</h1>
<div class="angebot">
  <div>
    <h3>Standard</h3>
    <ul>
      <li>Professionelle Beratung</li>
      <li>Produkt Design Sprint</li>
      <li>Standardisiertes Front-End (Stellen Sie Ihre Website nach dem Baukastenprinzip mit vorgefertigten Komponenten zusammen)</li>
      <li>Personalisierte Font</li>
      <li>Personalisiertes Farbschema</li>
      <li>Personalisierter Text</li>
      <li>Professionelle Bilder</li>
      <li>Wartung</li>
    </ul>
  </div>
  <div>
    <h3>Personalisiert</h3>
    <ul>
      <li>Professionelle Beratung</li>
      <li>Produkt Design Sprint</li>
      <li>Personalisiertes Front-End (Gestalten Sie Ihre personalisierte Website mit unserer Hilfe)</li>
      <li>Personalisierte Font</li>
      <li>Personalisiertes Farbschema</li>
      <li>Personalisierter Text</li>
      <li>Professionelle Bilder</li>
      <li>Fügen Sie Back-End Komponenten hinzu</li>
      <li>Wartung</li>
    </ul>
  </div>
  <div>
    <h3>Premium</h3>
    <ul>
      <li>Professionelle Beratung</li>
      <li>Produkt Design Sprint</li>
      <li>Personalisiertes Front-End (Gestalten Sie Ihre personalisierte Website mit unserer Hilfe)</li>
      <li>Personalisierte Font</li>
      <li>Personalisiertes Farbschema</li>
      <li>Personalisierter Text</li>
      <li>Professionelle Bilder</li>
      <li>Fügen Sie Back-End Komponenten hinzu</li>
      <li>Wartung</li>
      <li>Integrieren Sie ein Alumni-Netzwerk in Ihre Website</li>
    </ul>
  </div>
</div>


