.navbar-lewagon {
  justify-content: space-between;
  background: #2A2D34;
  .navbar-brand {
    color: #4ACBFF;
    font-size: 36px;
    h1 {
      margin-bottom: 0px;
    }
  }
  .nav-link {
    color: #ADE8FF !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

