.timeline {
  position: relative;
  margin: 50px auto;
  width: 1000px;
  padding: 40px 0;
  box-sizing: border-box;
  margin-bottom: 80px !important;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 70%;
  background: #EBEBEB;
}

.timelineTwo:before {
  height: 80% !important;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 0px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
  .badge {
    background: #FFE7E9;
  }
}

.timeline ul li:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: #4A4A4A;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #4A4A4A;
}

.timeline ul li:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: #4A4A4A;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #4A4A4A;
}

.timeline ul li i {
  padding: 0;
  font-weight: 600;
  color: #FD1015;
  font-size: 25px;
  //height: 100px;
  //width: 100px;
  //border-radius: 50%;
  //background: #FFE7E9;
  //display: flex;
  //align-items: center;
  //justify-content: space-around;
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #4A4A4A;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
  color: #4A4A4A;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li .time i {
  margin: 0;
  padding: 0;
  font-size: 70px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: -10px;
  right: -115px;
  margin: 0;
  padding: 8px 16px;
  color: #FD1015;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: -10px;
  left: -115px;
  margin: 0;
  padding: 8px 16px;
  color: #FD1015;
}







